@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=RocknRoll+One&display=swap');

header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg
{
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 100px;
}

.rivers-card
{
    grid-column: 2/4;
}

.camping-card
{
    grid-column: 5/7;
}

.rapids-card
{
    grid-column: 8/10;
}
.rivers-card, .camping-card, .rapids-card
{
    margin: 200px 0;
    grid-row: 2/3;
}

.mountains
{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#hero-msg h1,#hero-msg h4 {
    color: white;
}
.card-img, .mountains {
    width: 100%;
}

.home-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-title, h4,.book, .join {
    font-family: "RocknRoll One", Helvetica, sans-serif;
    font-size: 2em;
}

body nav {
    font-family: "RocknRoll One", Helvetica, sans-serif;
    font-size: 1.5em;
}

#logo_link
{
    padding-top: 5px;
}
.msg h2,.home-grid{
    font-family: "Fira Sans", Helvetica, sans-serif;
  }

#content {
    max-width: 1600px;
    margin: 0 auto;
  }
nav a{
    color: #01001D;
    text-align: center;
    text-decoration: none;
    padding: 35px;
  }
#hero-msg h1, #hero-msg h4{
    text-align: center;
  }
.button-box{
    text-align: center;
  }
main section{
    text-align: center;
  }
#background {
    height: 725px;
    background-color:#96DEFF;
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color:#fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header{
    background-color:#96DEFF;
}
nav a:hover{
    background-color:#01001D;
    color: #fcfbfb;
    text-decoration: none;
}
.home-title, h4
{
    color:#002aa7;
}
.home-title {
    margin-top: 10px;
}
.book, .join{
    color:#01001D;
    background-color:#fcfbfb;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover{
    color:#faf5f5;
    background-color:#01001D;
}
.msg{
    background-color:#96DEFF;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p
{
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2, .msg p
{
    color:#01001D;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
footer{
    background-color:#96DEFF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img
{
    padding-top: 15px;
}
footer a
{
    font-family: "RocknRoll One", Helvetica, sans-serif;
    color: #01001D;
    text-decoration: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p a:hover {
    color: #faf5f5;;
    background-color: #01001D;;
    text-decoration: underline;
}    
footer p {
    text-align: center;
    color: #01001D;
    font-size: 1.2em;
} 
.logo
{
    width: 80px;
} 

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}