/* header */
#navigation
{
    background-color: #C4A484;
    color: #01001D;
    display: grid;
    grid-template-columns: 150px auto;
}
nav 
{
    display: flex;
    justify-content: space-around;
}
nav a:hover
{
    background-color:#5F5143;
    color: #FFFAFA;
    text-decoration: none;
}
nav a{
    color: #01001D;
    font-family: "Fira Sans";
    text-align: center;
    text-decoration: none;
    padding: 35px;
  }
.logo
  {
      width: 80px;
  } 
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


/* Main body */
h1,h2, h4
{
    font-family: "Fira Sans";
}
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
}
body nav {
    font-family: "Fira Sans";
    font-size: 1.5em;
    
}
nav a{
    color: #01001D;
    text-align: center;
    text-decoration: none;
    padding: 35px;
  }

#content {
    max-width: 1600px;
    margin: 0 auto;
  }
#goodness-motto,#about
{
    text-align: center;
}
#goodness-motto,#about p
{
    font-family:"RocknRoll One", Helvetica, sans-serif;
    text-align: center;
}


#grid-in-index
{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1600px;
    font-family: "Fira Sans";
    grid-gap: 7px;

}

#grid-in-index img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#grid-in-index :hover
{
    background-color: #5F5143;
    font-family: "Fira Sans";
    color: #FFFAFA;
    text-decoration: underline;
}

#grid-in-index a
{
    color:#01001D;
    font-family: "Fira Sans";
    text-decoration: none;
}

/* footer */
footer
{
    background-color:#C4A484;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img
{
    padding-top: 15px;
}
footer a
{
    font-family: "RocknRoll One", Helvetica, sans-serif;
    color: #01001D;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 1.2em;
} 
footer p a:hover {
    color: #FFFAFA;
    background-color: #5F5143;
    text-decoration: underline;
}    

/* Picture  Page */
#pictures-grid{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
    grid-gap: 7px;
}

#pictures-grid img:hover {
    opacity: .3;
    transform: scale(0.6);
}
/* Quote  Page */
#Goodness-quotes{
display: grid;
text-align: center;
}

#picture-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#quote-1{
    border: 0.5px solid #5F5143;
    border-radius: 10% / 50%;
    padding: 5px;
    text-align: center;
  }
#quote-2{
    border: 0.5px solid #5F5143;
    border-radius: 10px 100px / 120px;
    padding: 5px;
    text-align: center;
  }
#quote-3{
    border: 0.5px solid #5F5143;
    border-radius: 50% 20% / 10% 40%;
    padding: 5px;
    text-align: center;
  }
/* Contact Us Page */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #C4A484;
    color: #01001D;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input:hover{
    background-color:#5F5143;
    color: #FFFAFA;
    text-decoration: none;
}
  /* Style the form(originally named container) */
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 900px(original was 600px) wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 900px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


/* Size control*/
@media screen and (max-width: 900px) {
    #content {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #goodness-motto,#about {
        font-size: 25px;
    }
    #background {
        display: none;
    }
    #grid-in-index {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    #grid-in-index img
    {
        width: 75%;
        margin: 50px auto;
    }

    #pictures-grid
    {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    #pictures-grid img
    {
        width: 75%;
        margin: 50px auto;
    }
    footer {
        margin-top: 25px;
    }
}

